{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 9
  },
  "globals": {
    "React": true
  },
  "rules": {
    "react/jsx-no-undef": [2, { "allowGlobals": true }]
  }
}
